<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>小金学汉字</title>
        <link rel="stylesheet" href="https://at.alicdn.com/t/c/font_5023613_dg86fve3jpq.css">
        <script src="hanzi-writer.js"></script>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <script type="module">
            import { createApp } from './petite-vue.es.js'
            createApp({
                quizMode: false,
                writer: null,
                inputValue: '金',
                processing: true,
                show: false,
                tips: '',
                toastShow: false,
                timer: null,
                initWriter() {
                    this.writer = HanziWriter.create('character-target-div', this.inputValue, {
                        width: 320,
                        height: 320,
                        padding: 5,
                        strokeColor: '#000000',
                        delayBetweenLoops: 3000,
                    });
                    this.writer.loopCharacterAnimation()
                },
                setCharacter() {
                    if (this.inputValue) {
                        this.writer.setCharacter(this.inputValue)
                        if (this.quizMode) {
                            this.quiz()
                        }else{
                            this.writer.loopCharacterAnimation()
                        }
                    }
                    this.show = false
                },
                showWin() {
                    this.inputValue = ''
                    this.show = true
                },
                changeCharacter() {
                    if (this.inputValue.length > 0) {
                        this.inputValue = this.inputValue.at(0)
                    }
                    if (/[^\u4e00-\u9fff]/.test(this.inputValue)) {
                        this.inputValue = ''
                    }
                },
                mounted() {
                    this.initWriter()
                },
                toggleAnimation() {
                    if (this.processing) {
                        this.writer.pauseAnimation()
                        this.processing = false
                    } else {
                        this.writer.resumeAnimation()
                        this.processing = true
                    }
                },
                quiz() {
                    let _this = this
                    this.quizMode = true
                    this.writer.quiz({
                        onMistake() {
                            _this.showToast('写错了，请按正确的笔画顺序重新书写！')
                        },
                        onComplete() {
                            _this.showToast(`恭喜你，学会了写"${_this.inputValue}"字！`)
                        }
                    })
                    this.showToast('按汉字笔画顺序，开始练习书写汉字！')
                },
                showToast(message) {
                    this.tips = message
                    this.toastShow = true
                    this.timer && clearTimeout(this.timer)
                    this.timer = setTimeout(() => {
                        this.toastShow = false
                    }, 4000)
                },
                cancelQuiz() {
                    this.quizMode = false
                    this.writer.loopCharacterAnimation()
                    this.showToast('小提示：可轻触汉字进行暂停/播放书写动画')
                },

            }).mount()
        </script>
        <div v-scope @vue:mounted="mounted" class="wrap">
            <div class="search-wrap">
                <div v-if="quizMode" class="left" @click="cancelQuiz">
                    <i class="iconfont icon-fanhui"></i>
                </div>
                <div v-else class="left" @click="quiz">
                    <i class="iconfont icon-zhuanxie"></i>
                </div>
                <div class="right" @click="showWin">
                    <i class="iconfont icon-sousuo"></i>
                </div>
            </div>
            <div class="input-wrap" v-if="show" @click="show = false">
                <div class="input-content" @click.stop >
                    <view style="display:flex;transform:translateY(-8px);">
                        <input type="text" v-model="inputValue" placeholder="请输入需要查看汉字" @input="changeCharacter" />
                        <div class="btn" @click="setCharacter">确认</div>
                    </view>
                    <div class="tips">
                        小提示：可轻触汉字进行暂停/播放书写动画
                    </div>
                </div>
            </div>
            <div id="character-target-div" @click="toggleAnimation" ></div>
            <div v-if="toastShow" class="toast">{{ tips}}</div>
        </div>
    </body>
</html>